USE [AppBD]
GO
/****** Object:  Table [dbo].[WRITERS]    Script Date: 27.12.2020 23:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WRITERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WNAME] [nvarchar](30) NOT NULL,
	[WSURNAME] [nvarchar](30) NOT NULL,
	[GENDER] [int] NOT NULL,
	[BIRTHDAY_DATA] [date] NOT NULL,
	[DEATH_DATA] [date] NOT NULL,
	[CITY_BIRTHDAY] [int] NULL,
	[CITY_DEATH] [int] NULL,
	[PSEUDONYMS] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WRITERS]  WITH CHECK ADD FOREIGN KEY([CITY_BIRTHDAY])
REFERENCES [dbo].[CITIES] ([ID])
GO
ALTER TABLE [dbo].[WRITERS]  WITH CHECK ADD FOREIGN KEY([CITY_DEATH])
REFERENCES [dbo].[CITIES] ([ID])
GO
