USE [AppBD]
GO
/****** Object:  Table [dbo].[RENTS]    Script Date: 27.12.2020 23:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RENTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNUM] [int] NULL,
	[BOOK_ID] [int] NULL,
	[WORKER_ID] [int] NULL,
	[RENT_DATA_START] [datetime] NOT NULL,
	[RENT_DATA_END] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RENTS]  WITH CHECK ADD FOREIGN KEY([BOOK_ID])
REFERENCES [dbo].[BOOKS] ([ID])
GO
ALTER TABLE [dbo].[RENTS]  WITH CHECK ADD FOREIGN KEY([USERNUM])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[RENTS]  WITH CHECK ADD FOREIGN KEY([WORKER_ID])
REFERENCES [dbo].[WORKERS] ([ID])
GO
