USE [AppBD]
GO
/****** Object:  Table [dbo].[BOOKS]    Script Date: 27.12.2020 23:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BNAME] [nvarchar](30) NOT NULL,
	[BDESCRIPTION] [nvarchar](150) NOT NULL,
	[LANGUAGE_ID] [int] NOT NULL,
	[WRITER_ID] [int] NOT NULL,
	[GENRE_ID] [int] NOT NULL,
	[CREATEDATE] [date] NOT NULL,
	[BUY_PRICE] [int] NOT NULL,
	[RENT_PRICE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOOKS]  WITH CHECK ADD FOREIGN KEY([GENRE_ID])
REFERENCES [dbo].[GENRES] ([ID])
GO
ALTER TABLE [dbo].[BOOKS]  WITH CHECK ADD FOREIGN KEY([LANGUAGE_ID])
REFERENCES [dbo].[LANGUAGES] ([ID])
GO
ALTER TABLE [dbo].[BOOKS]  WITH CHECK ADD FOREIGN KEY([WRITER_ID])
REFERENCES [dbo].[WRITERS] ([ID])
GO
