USE [AppBD]
GO
/****** Object:  Table [dbo].[WORKERS]    Script Date: 27.12.2020 23:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNUM] [int] NULL,
	[POSITION_ID] [int] NULL,
	[START_DATA] [datetime] NOT NULL,
	[END_DATA] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WORKERS]  WITH CHECK ADD FOREIGN KEY([POSITION_ID])
REFERENCES [dbo].[WORK_POSITIONS] ([ID])
GO
ALTER TABLE [dbo].[WORKERS]  WITH CHECK ADD FOREIGN KEY([USERNUM])
REFERENCES [dbo].[USERS] ([ID])
GO
